<p id="notice"><%= notice %></p>

<h1>Welcome to Snapshot</h1>

  <body>
  <% if user_signed_in? %>
    <p><%= link_to 'Add new Image', new_image_path %></p>

      <% if @images.any? %>
      <ul>
          <% @images.each do |image| %>
              <% if user_signed_in? %>
              <li>
                <%= image.name %>
                <%= image.picture %>
                <%= link_to "View", image %>
                <%= link_to "like", image_likes_path(image), class: 'likes-link' %>
                <span class='likes_count'><%= image.likes.count%> </span>
                <%= link_to "Comment", new_image_comment_path(image) %>
                  <% if current_user.id == image.user_id %>
                    <%= link_to "Edit", edit_image_path(image) %>
                    <%= link_to "Delete", image, method: :delete %>
                  <% end %>
              </li>

            <% end %>
          <% end %>
      <% else %>
      <h1>No images yet</h1>
      <% end %>
    </ul>
  <% end %>
</body>
