<p id="notice"><%= notice %></p>

<h1>Welcome to Snapshot</h1>

<table>


  <tbody>
  <% if user_signed_in? %>
    <%= link_to 'New Image', new_image_path %>
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <% if @images.any? %>
          <% @images.each do |image| %>
        <!-- <p><%= link_to image.name, image_path(image) %></p> -->
          <tr>
            <td><%= image.name %></td>
            <td><%= image.picture %></td>
            <td><%= link_to "Show #{image.name}", image %></td>
            <td><%= link_to "Leave Comment", new_image_comment_path(image) %></td>
            <td><%= link_to "Edit #{image.name}", edit_image_path(image) %></td>
            <td><%= link_to "Delete #{image.name}", image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
      <% else %>
      <h1>No images yet</h1>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>
