<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @image.picture %>
</p>
<p>
  <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= comment.comments %>
      <% end %>
  <% end %>
</p>


<%= link_to 'Back', images_path %>
